<h1>New bands page</h1>

<form action="<%=bands_url%>" method="post">

    <%= auth_token %>

    <label>New band!
        <input type="text" name="band[name]" value="">
    </label>
    <input type="submit" value="Submit">
</form>